@import molecules/textos
@import organisms/previsao
header
	background:
		position: top center
		repeat: no-repeat
		color: $preto
		attachment: fixed
		size: cover
.header
	 background:
 		position: top center
 		repeat: no-repeat
 		color: $preto
 		attachment: fixed
 		size: cover
