footer
	+gradient(0deg, $azul-claro, transparent)
	padding: 12px

	p
		text-align: center

	.logo-rodape
		background-color: #00000087
		img
			width: 110px
			height: 110px
			display: block
			margin: 35px auto
