
<nav class="menu-responsivo">
  <div class="user-img">  <img width="70px" src="assets/user.ico" alt="Logo Topo Tag"></div>
  <ul>
    <li><a ui-sref="home" ui-sref-active="active"><i class="fas fa-home"></i>  Início</a></li>
    <li><a ui-sref="about" ui-sref-active="active"><i class="fas fa-info-circle"></i> Sobre</a></li>
    <li><a ui-sref="contact" ui-sref-active="active"><i class="fas fa-phone-square"></i>  Contato</a></li>
  </ul>
  <div class="config">Configurações</div>
  <ul>
    <li><a ui-sref="config" ui-sref-active="active"><i class="fas fa-cogs"></i>  Geral</a></li>

  </ul>
  <div class="social">Social</div>
   <div class="social"><a href="https://twitter.com/" target="_blank">
     <i class="fab fa-twitter-square"></i> </a>
    <a href="https://www.facebook.com/" target="_blank">
      <i class="fab fa-facebook"></i></a>
     <a href="https://instagram.com/" target="_blank">
       <i class="fab fa-instagram"></i></a>
   </div>
</nav>
